<nav class="UnderlineNav--right px-2 container-lg">
  <div class="logo">
      <a class="log-main UnderlineNav-actions" href="{{ .Site.BaseURL }}">
          {{ .Site.Title }}
        </a>
      <span class="logo-small">拿鐵才是王道</span>
  </div>


  {{ $currentPage := . }}
  {{ with .Site.Menus.main }}
  <div>
    {{ range sort . }}
    {{ if .HasChildren }}
    <div class="flex-column position-relative dropdown" >
      {{ .Pre }}
      <span class="UnderlineNav-item {{ if $currentPage.HasMenuCurrent "main" . }}selected{{ end }}">{{ .Name }}</span>
      <div class="Box Box--condensed position-absolute dropdown-content ">
        {{ range .Children }}
        <div class="Box-body" style="">
          <a href="{{ .RelPermalink }}">
            {{ .Name }}
          </a>
        </div>
        {{ end }}
      </div>
    </div>
    {{ else }}
    <!-- .URL -->
    <a class="UnderlineNav-item {{ if $currentPage.IsMenuCurrent "main" . }}selected{{ end }}" href="{{ .URL }}">
      {{ .Pre }}
      <span>{{ .Name }}</span>
    </a>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
</nav>
<div class='header-ad'> 
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 廣告-Header -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6564736746698681"
         data-ad-slot="8706832635"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>


