{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}


{{ define "main" }}
<!-- list template -->
<div>

  <div class="main-header"></div>

  {{ .Content }}

  {{ range .Paginator.Pages }}
  <div>
      <div class="rounded-2 box-shadow-medium px-3 pb-2 pt-2 mb-3">
          <div class="Subhead mb-2">
            <div class="Subhead-heading">
              <a href="{{ .RelPermalink }}">
                <div class="subhead-text mt-1 mb-1">{{ .Title }}</div>
              </a>
            </div>
            <div class="Subhead-description">
              {{ partial "taxonomy.html" . }}
              <div class="float-md-right">
                <span>{{ .Date.Format "2006-01-02" }}</span>
              </div>
            </div>
          </div>
          <div>
            <!-- summary -->
            <!-- {{ .Summary }} -->
          </div>
        </div>
  </div>
  {{ end }}

  {{ if gt .Paginator.TotalPages 1 }}
  <nav class="paginate-container">
    <div class="pagination">
      <ul>
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="previous_page">Prev</a>
        {{ else }}
        <span class="previous_page disabled">Prev</span>
        {{ end }}

        {{ range .Paginator.Pagers }}
          <a href="{{ .URL }}">
            {{ .PageNumber }}
          </a>
        {{ end }}

        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="next_page">Next</a>
        {{ else }}
        <span class="next_page disabled">Next</span>
        {{ end }}
      </ul>
    </div>
  </nav>
  {{ end }}


</div>

{{ end }}

{{ define "side" }}
  {{ partial "side.taxonomy.html" . }}
{{ end }}